# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# Android
android/.gradle/
android/app/build/
android/build/

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/Pods/
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace/
ios/build/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/build/

# Linux
linux/build/

# Windows
windows/build/

# Web
web/build/

# VS Code settings (optional)
.vscode/

# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdata
*.xcsettings
DerivedData/
*.pbxuser

# Others
*.log
*.lock
*.tmp
*.swp
